<section
  class="py-10 bg-[var(--blanco-roto-suave)] text-center text-[var(--gris-grafito)]"
>
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 px-4"
  >
    <!-- item 1 -->
    <div class="flex flex-col items-center space-y-2">
      <img
        width="64"
        height="64"
        src="https://img.icons8.com/external-victoruler-solid-victoruler/64/external-return-box-logistics-victoruler-solid-victoruler.png"
        alt="cambios y devoluciones"
      />
      <h3 class="font-semibold text-[var(--madera-tostada-elegante)] text-base">
        Cambios y devoluciones GRATIS
      </h3>
      <p class="text-sm text-[var(--gris-cálido-suave)] max-w-xs">
        Gestiona tus pedidos a través de la web o en nuestras tiendas físicas.
      </p>
    </div>
    <!-- item 2 -->
    <div class="flex flex-col items-center space-y-2">
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios/50/delivery--v2.png"
        alt="envios express"
      />
      <h3 class="font-semibold text-[var(--madera-tostada-elegante)] text-base">
        Envíos Express
      </h3>
      <p class="text-sm text-[var(--gris-cálido-suave)] max-w-xs">
        Para Medellín y el Área Metropolitana antes de las 4pm
      </p>
    </div>
    <!-- item 3 -->
    <div class="flex flex-col items-center space-y-2">
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/material-rounded/24/coin-in-hand.png"
        alt="medios de pago"
      />
      <h3 class="font-semibold text-[var(--madera-tostada-elegante)] text-base">
        Múltiples Medios de Pago
      </h3>
      <p class="text-sm text-[var(--gris-cálido-suave)] max-w-xs">
        Métodos de pago que se ajustan a tus necesidades
      </p>
    </div>
    <!-- item 4 -->
    <div class="flex flex-col items-center space-y-2">
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-glyphs/30/total-sales-1.png"
        alt="financiacion"
      />
      <h3 class="font-semibold text-[var(--madera-tostada-elegante)] text-base">
        Opciones de financiación
      </h3>
      <p class="text-sm text-[var(--gris-cálido-suave)] max-w-xs">
        Ahora el crédito Chevignon es Su•Pay
      </p>
    </div>
  </div>
</section>
