<footer
  class="p-4 border-t border-[var(--gris-arena)] mt-4 bg-[var(--blanco-roto-suave)] text-[var(--gris-grafito)] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container mx-auto"
>
  <!-- sobre nosotros -->
  <div>
    <h3 class="font-semibold text-lg text-[var(--cafe-avellana-oscuro)] mb-2">
      Sobre nosotros
    </h3>
    <ul class="space-y-1 text-[var(--gris-grafito)] text-sm">
      <li>
        <a
          href="https://www.chevignon.com.co/localizar-tiendas"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Encuentra tu tienda</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/nuestra-marca"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Historia de la marca</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/sitemap"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Mapa del sitio</a
        >
      </li>
      <li>
        <a
          href=""
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Próximos eventos</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/cyber-days"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >CyberDays</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/sale"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >SALE</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/CM2025-registro"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Charms Bar</a
        >
      </li>
    </ul>
  </div>
  <!-- terminos y condiciones -->
  <div>
    <h3 class="font-semibold text-lg text-[var(--cafe-avellana-oscuro)] mb-2">
      Información
    </h3>
    <ul class="space-y-1 text-[var(--gris-grafito)] text-sm">
      <li>
        <a
          href="https://www.chevignon.com.co/terminos-condiciones"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Términos y condiciones</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/info/promociones"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Términos y condiciones de promociones</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/info/politica-de-cookies"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Política de Cookies</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/info/cambios-devoluciones"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Política de Cambios y Devoluciones</a
        >
      </li>
      <li>
        <a
          href="https://www.magneto365.com/co/empresas/chevignon"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Trabaja con nosotros</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/distribuidores"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >¿Quieres ser distribuidor Chevignon?</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/sobre-sitio/tratamiento-datos"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Tratamiento de datos personales</a
        >
      </li>
    </ul>
  </div>
  <!-- cambio y devoluciones -->
  <div>
    <h3 class="font-semibold text-lg text-[var(--cafe-avellana-oscuro)] mb-2">
      Cambios y devoluciones
    </h3>
    <ul class="space-y-1 text-[var(--gris-grafito)] text-sm">
      <li>
        <a
          href="https://www.chevignon.com.co/login?returnUrl=%2Faccount%23%2Fcambios-devoluciones"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
        >
          Gestiona tu cambio o devolución</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/ayuda-pqr"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >PQR y Otras solicitudes</a
        >
      </li>
      <li>
        <a
          href="https://www.chevignon.com.co/estado-pqrs"
          target="_blank"
          class="hover:text-[var(--mostaza-suave)] transition-colors"
          >Estado de mi PQR</a
        >
      </li>
    </ul>
  </div>
  <!-- servicio cliente -->
  <div>
    <h3 class="font-semibold text-lg text-[var(--cafe-avellana-oscuro)] mb-2">
      Servicio al cliente
    </h3>
    <ul class="space-y-2 text-sm">
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=573225196168&text=Hola%20Chevignon,%20tengo%20una%20consulta"
          target="_blank"
          class="flex items-center gap-2 hover:text-[var(--mostaza-suave)] transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 48 48"
          >
            <path
              fill="#40c351"
              d="M35.2,12.8c-3-3-6.9-4.6-11.2-4.6C15.3,8.2,8.2,15.3,8.2,24c0,3,0.8,5.9,2.4,8.4L11,33l-1.6,5.8l6-1.6l0.6,0.3c2.4,1.4,5.2,2.2,8,2.2h0c8.7,0,15.8-7.1,15.8-15.8C39.8,19.8,38.2,15.8,35.2,12.8z"
            />
            <path
              fill="#fff"
              fill-rule="evenodd"
              d="M19.3,16c-0.4-0.8-0.7-0.8-1.1-0.8c-0.3,0-0.6,0-0.9,0s-0.8,0.1-1.3,0.6c-0.4,0.5-1.7,1.6-1.7,4s1.7,4.6,1.9,4.9s3.3,5.3,8.1,7.2c4,1.6,4.8,1.3,5.7,1.2c0.9-0.1,2.8-1.1,3.2-2.3c0.4-1.1,0.4-2.1,0.3-2.3c-0.1-0.2-0.4-0.3-0.9-0.6s-2.8-1.4-3.2-1.5c-0.4-0.2-0.8-0.2-1.1,0.2c-0.3,0.5-1.2,1.5-1.5,1.9c-0.3,0.3-0.6,0.4-1,0.1c-0.5-0.2-2-0.7-3.8-2.4c-1.4-1.3-2.4-2.8-2.6-3.3c-0.3-0.5,0-0.7,0.2-1c0.2-0.2,0.5-0.6,0.7-0.8c0.2-0.3,0.3-0.5,0.5-0.8c0.2-0.3,0.1-0.6,0-0.8C20.6,19.3,19.7,17,19.3,16z"
              clip-rule="evenodd"
            />
          </svg>
          Whatsapp
        </a>
      </li>
      <li>
        <a
          href=""
          class="flex items-center gap-2 hover:text-[var(--mostaza-suave)] transition-colors"
        >
          <img
            width="24"
            height="24"
            src="https://img.icons8.com/material-outlined/24/phone-disconnected.png"
            alt="phone-disconnected"
          />
          Línea nacional: 01 8000 189002
        </a>
      </li>
    </ul>
  </div>
</footer>
