<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header class="relative shadow-xl ring-1 ring-black bg-[var(--marron-hoja-seca)]">
      <nav class="px-4 py-4 lg:flex lg:justify-between lg:items-center">
        <!-- logo -->
        <div class="flex justify-between items-center">
          <div>
            <a
              href="/index.html"
              class="text-2xl font-extrabold tracking-wide text-white rounded-lg"
            >
              <img
                src="/assets/images/logos/logoBlancoChevignonClasicoSinFondo.png"
                alt="Logo"
                class="h-10 w-auto transition-transform hover:scale-105"
              />
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              id="boton-menu"
              type="button"
              class="inline-flex items-center justify-center p-2 rounded-md text-[var(--beige-corteza-suave)]"
            >
              <!-- Icono hamburguesa -->
              <svg
                class="size-8"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>

        <nav id="menu-celular" class="flex flex-col lg:flex-row w-[60%] justify-between">
          <div id=""
            class="flex flex-col items-start mt-3 lg:flex-row lg:items-center lg:justify-between lg:m-0 lg:ml-5">
            <!-- menu header -->
            <ul class="menu flex flex-col lg:flex-row items-start text-sm font-medium gap-8 mb-2 lg:mb-0">
              <li>
                <a
                  href="/productos.html"
                  class="text-[var(--gris-niebla)] hover:text-white transition-colors"
                >
                  Hombres
                </a>
              </li>
              <li>
                <a
                  href="/productos.html"
                  class="text-[var(--gris-niebla)] hover:text-white transition-colors"
                >
                  Mujeres
                </a>
              </li>
              <li>
                <a
                  href="/productos.html"
                  class="text-[var(--gris-niebla)] hover:text-white transition-colors"
                >
                  Niños
                </a>
              </li>
            </ul>
          </div>
          
            
        
            <!-- iconos header-->
            <div
              class="flex items-center  w-full lg:w-auto mt-4 lg:mt-0 justify-between gap-5 "
            >
              <!-- buscador -->
              <div class="relative">
                <input
                  type="search"
                  placeholder="Buscar..."
                  class="border border-[var(--gris-arena)] bg-[var(--beige-corteza-suave)] rounded pl-10 pr-3 py-1 text-sm text-[var(--gris-grafito)] focus:outline-none focus:ring-2 focus:ring-[var(--mostaza-suave)] transition"
                />
                <div
                  class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none"
                >
                  <svg
                    class="w-5 h-5 text-[var(--marron-hoja-seca)]"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 7.5 7.5a7.5 7.5 0 0 0 9.15 9.15z"
                    />
                  </svg>
                </div>
              </div>
              <div class="flex gap-4">
              <!-- bandera -->
              <img
                width="32"
                height="32"
                src="https://img.icons8.com/color/48/colombia-circular.png"
                alt="colombia-circular"
              />
              <!-- usuario -->
              <button
                class="text-[var(--gris-niebla)] hover:text-white transition"
              >
                <a href="">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                    />
                  </svg>
                </a>
              </button>
              <!-- carrito -->
              <button
                id="botonCarrito"
                class="text-[var(--gris-niebla)] hover:text-white transition"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                  />
                </svg>
              </button>
              </div>
              
              <div id="carritoPanel" class="carrito-panel oculto">
                
              </div>
            </div>
            </div>
          </nav>
            
          
        
      
    </header>
    <script src="/js/script.js" type="module"></script>
  </body>
</html>
