<section class="overflow-hidden bg-white py-4">
        <div class="scroll-container">
            <div class="scroll-track flex items-center gap-8">
                <img src="/images/promo1.webp" class="h-40 inline-block" alt="promo" />
                
                <img src="/images/promo2.jpg" class="h-40 inline-block" alt="promo" />
                
                <img src="/images/promo3.jpg" class="h-40 inline-block" alt="promo" />
                
                <img src="/images/promo1.webp" class="h-40 inline-block" alt="promo" />
                
                <img src="/images/promo2.jpg" class="h-40 inline-block" alt="promo" />
                
                <img src="/images/promo3.jpg" class="h-40 inline-block" alt="promo" />
            </div>
        </div>
    </section>

    <!-- codigo css -->

<!-- @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-20%); }
}

.scroll-container {
    overflow: hidden;
    position: relative;
}

.scroll-track {
    width: max-content;
    animation: scroll 20s linear infinite;
}

.scroll-container:hover .scroll-track {
    animation-play-state: paused;
} -->